@font-face {
     font-family: "Rubik";
     src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
     url("../fonts/Rubik-Medium.woff") format("woff");
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Rubik";
     src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
     url("../fonts/Rubik-Regular.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Rubik";
     src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
     url("../fonts/Rubik-Bold.woff") format("woff");
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}



/* GLOBAL  */
*{
     box-sizing: border-box;
}

html {
     height: 100%;
     scroll-behavior: smooth;
}

body{
     display: flex;
     flex-direction: column;
     height: 100%;
     padding: 0;
     margin: 0;
     font-family: "Rubik" , "Arial", sans-serif;
     font-size: 16px;
     line-height: 22px;
     color: #4A4B4C;
     background-color: #fff;
}

/* OUTLINE STYLES */
*:focus {
     outline: 2px dashed #7296ec;
     outline-offset: 3px;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1260px;
     padding-left: 30px;
     padding-right: 30px;
     margin-left: auto;
     margin-right: auto;
}

/* SITE_HEADER  */
.site-header-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #f6f6f6;

}

.header-inner{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.left-header{
     display: flex;
     align-items: center;
     font-size: 24px;
}

.logo-text {
     margin: 0;
     text-decoration: none;
     color: #7296ee;
     border-radius: 7px;
     align-items: center;
     padding: 0;
     height: 45px;
}

.logo-text:hover{
     opacity: 0.8;
}
.logo-text:active{
     opacity: 0.6;
}


.currency{
     display: flex;
     font-size: 16px;
     margin-left: 35px;
     /* margin-right: ; */
}
.currency-wrapper:first-child {
     margin-right: 25px;
}

.currency p span{
     font-weight: bold;
     color: #2959CE;
}

.right-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.right-header:not(:last-child) {
     padding-right: 25px;

}

.search-text{
     width: 275px;
     box-sizing: border-box;
     border: 0px solid #fff;
     border-radius: 60px;
     font-size: 14px;
     background-color: white;
     padding: 12px 20px 12px 40px;
     background-image: url("/photos/search.svg");
     background-repeat: no-repeat;
     background-position: 10px 10px;
     margin-top: 30px;
     margin-bottom: 30px;
     margin-right: 25px;
}

/* Language switch bottom  */
.switch{
     padding-right: 25px;
}
.switch-language{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 70px;
     list-style: none;
     background-color: #dce6ff;
     border-radius: 40px;
     padding: 0;
     height: 36px;
}

.switch-language a{
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
}
.language-uz{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #fff;
     margin: 3px;


}

.language-uz a{
     width: 30px;
     height: 30px;
     font-size: 13px;
     color: #000;
     padding-right: 8px;
}

.language-ru, a{
     color: #A6A6A6;
     font-size: 13px;
     padding-right: 13px;
     padding-top: 10px;
     padding-bottom: 10px;
}

.btn a{
     font-size: 16px;
     line-height: 19px;
     padding: 13px 20px;
     margin-top: 30px;
     margin-bottom: 30px;
     background-color: #7296EC;
     color: #fff;
     text-decoration: none;
     border-radius: 10px;

}

.btn a:hover{
     opacity: 0.8;
}
.btn a:active{
     opacity: 0.6;
}

/* Site nav  */
.nav{
     margin-top: 30px;

}
.nav-innner{
     display: flex;
     justify-content: space-between;
}

.sitenav-list{
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     padding: 0;
     margin: 0;
     padding-bottom: 20px;
     border-bottom: 1px solid #d1d1d1;
}


.sitenav-link{
     padding-right: 0;
     color: #7f7f7f;
     text-decoration: none;
     font-weight: 500;
     font-size: 18px;
     line-height: 1px;
}

.sitenav-link:hover {
     color: #7296ec;
}

.sitenav-link:active {
     opacity: 0.6;
}

/* ShopMe raklama banneri  */
#shopme{
     margin-top: 40px;
}

.shopme-inner{
     display: flex;
     padding: 0;
     border-radius: 8px;
}
/* Hero-top  */
.hero-top{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 50px;
}
.hero-content{
     display: flex;
     flex-direction: column;
     width: 394px;
     background-color:#F6F6F6;
     border-radius: 15px;
     padding-left: 17px;
     /* height: 382px; */
}

.hero-heading{
     padding: 0px;
     width: 358px;
     padding: 0;
}

.hero-heading-link{
     margin: 0;
     padding: 0;
     text-decoration: none;
}

.hero-heading-link h2{
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 26px;
}

.hero-heading-link h2:hover{
     color: #7296ec;
}

.hero-heading-link h2:active{
     opacity: 0.6;
}

.hero-heading h2{
     font-family: "Rubik" , "Arial", sans-serif;
     font-size: 20px;
     line-height: 26px;
     color: #000000;
     padding: 0px;
}
.hero-heading p{
     font-family: "Rubik" , "Arial", sans-serif;
     font-weight: normal;
     font-size: 16px;
     line-height: 22px;
}

.hero-content img{
     border-radius: 10px;
}

.hero-source{
     display: flex;
     align-items: center;
     margin: 0;
     padding: 0;
     margin-top: 15px;
     margin-bottom: 15px;
}

.hero-source img{
     border-radius: 5px;
     margin-right: 10px;

}

.hero-source span{
     color: #5E5F61;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 14px;
     padding: 0;
     margin: 0;
}

/* Hero-bottom  */
.hero-bottom{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 10px;
}

.hero-img{
     padding: 0;
     margin: 0;
     text-decoration: none;
}

.hero-link{
     padding: 0;
     margin: 0;
     text-decoration: none;
}
/* Notification picture  */
.Notifications{
     max-width: 1050px;
     width: 100%;
     height: 100px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 60px;
     background-image: url(/photos/shopme.png);
     background-repeat: no-repeat;

}
.notifications-inner{
     display: flex;
     justify-content: space-between;
}
.Notifications h2{
     font-family: "Rubik";
     margin: 0;
     padding: 0;
     margin-top: 24px;
     margin-left: 29px;
     width: 404px;
     font-weight: 500;
     font-size: 20px;
     line-height: 26px;
}

.Notifications-button{
     display: flex;
     align-items:center;
     padding: 0;
     margin: 0;
     padding-left: 30px;
     width: 150px;
     height: 50px;
     color: #fff;
     background-color: #F78B3B;
     text-decoration: none;
     border-radius: 10px;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     margin-top: 25px;
     margin-right: 71px;
}

.Notifications-button:hover{
     opacity: 0.8;
}
.Notifications-button:active{
     opacity: 0.6;
}
/* News  */
.news-head{
     width: 146px;
     margin-top: 60px;
     color: #000000;
     font-style: normal;
     line-height: 28px;
}
.news-head h1{
     padding: 0;
     margin: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     line-height: 28px;
     font-family: "Rubik" , "Arial", sans-serif;
}
.news-section{
     margin-top: 20px;
     display: flex;
}

.news-content{
     margin: 0;
     width: 797px;
     display: flex;
     background-color: #F6F6F6;
     border-radius: 15px;
}

.news-content:not(:last-child){
     margin-bottom: 10px;
}

.content-text{
     flex-direction: column;
}
.news-heading{
     width: 535px;
}

.news-heading-inner{
     padding: 0;
     margin: 0;
     text-decoration: none;
     color: #000;
     font-style: normal;
     font-size: 20px;
     line-height: 26px;
     font-size:medium;
     font-family: "Rubik" , "Arial", sans-serif;
}

.news-heading-inner h3{
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 26px;
     font-family: "Rubik" , "Arial", sans-serif;
}
.news-heading-inner h3:hover{
     color: #7296ec;
}

.news-heading-inner h3:active{
     opacity: 0.6;
}
.news-heading-inner h3{
     margin: 0;
     margin-top: 20px;
     padding: 0;
}

.news-text{
     margin: 0;
     margin-top: 10px;
     padding: 0;
     font-family: "Rubik" , "Arial", sans-serif;
     font-size: 16px;
     line-height: 22px;
     color: #4A4B4C;
}

.news-photo{
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 17px;
     margin-right: 15px;
}

.news-time{
     display: flex;
     align-items: center;
     margin-top: 17px;
}

.news-links{
     margin: 0;
     padding: 0;
     text-decoration: none;
}


.news-time span{
     margin-left: 10px;
     font-size: 12px;
     line-height: 14px;
     font-weight: normal;

}

/* News Right  */
.news-right{
     /* padding: 0;
     margin: 0; */
     margin-left: 10px;
}
.news-right-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 393px;
     background-color: #F6F6F6;
     border-radius: 15px;
     color: #000000;
     font-family: "Rubik" , "Arial", sans-serif;
}
.news-right-content h2{
     padding: 0;
     margin: 0;
     margin-left: 17px;
     margin-top: 20px;
}

.news-right-text{
     margin-left: 17px;
     padding-top: 17px;
     margin-right: 17px;
}

.news-right-text:not(:last-child){
     border-bottom: 1px solid #D2D2D2;
}

.news-right-text-link {
     margin: 0;
     padding: 0;
     text-decoration: none;
     color: #000000;
}
.news-right-text-link h3:hover{
     color: #7296ec;
}
.news-right-text-link h3:active{
     opacity: 0.6;
}
.news-right-text-link h3{
     margin: 0;
     padding: 0;
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
}
.news-right-text p{
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 13px;
     line-height: 15px;

     color: #5E5F61;
}
.news-right-image{
     border-radius: 15px;
     margin-top: 10px;

}

.news-addition h3{
     margin: 0;
     padding: 0;
     padding-top: 17px;
}
.news-addition{
     width: 796px;
     height: 53px;
     background-color: #7296EC;
     border: 1px solid #EAEAEA;
     background-color: #EAEAEA;
     color: #000000;
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     text-decoration: none;
     border-radius: 10px;
}

.news-addition-link{
     text-decoration: none;
     color:#000000;
}
.news-addition-link h3{
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;

}
.news-addition-link h3:hover{
     color: #7296ec;
}
.news-addition-link h3:active{
     opacity: 0.6;
}

/* FBM  */
.main{
     margin-top: 50px;
}

.main-left-section{
     width: 797px;
}

.main-logo{
     margin: 0;
     padding: 0;
     margin-bottom: 30px;
}
.main-logo-link{
     margin-left: 0;
     margin: 0;
     text-decoration: none;
     display: flex;
     align-items: center;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 17px;
     color: #5E5F61;
}

.main-heading{
     font-style: normal;
     font-weight: 500;
     font-size: 26px;
     line-height: 36px;
     color: #000000;
     font-family: "Rubik" , "Arial", sans-serif;

}

.main-text-wrapper{
     width: 797px;
     color: #000000;
     padding-bottom: 50px;
     border-bottom: 1px solid #D2D2D2;

}

.main-text{
     padding: 0;
     margin: 0;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 30px;
     color: #000000;
}

/* FURTHER NEWS  */
.further-news{
     margin-top: 60px;
}


.further-heading{
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #000000;
}

/* Footer  */
.footer{
     margin-top: 100px;
     background-color: #7297EF;
     flex-grow: 1;
}
.footer-section{
     margin: 0;
     padding: 0;
     width: 998px;
     margin-left: 100px;
     margin-right: 100px;
}
.footer hr{
     background: #CECECE;
     width: 998px;
     margin-top: 30px;
}

.footer-inner{
     display: flex;
     width: 998px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #CECECE;
     padding-bottom: 30px;
}


.logo-footer{
     background-color: #7297EF;
     color: #fff;
}
.logo-footer:hover{
     opacity: 0.8;
}
.logo-footer:active{
     opacity: 0.6;
}

.logo-footer-image{
     margin-top: 40px;
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
}

/* Footer inner  */

.footer-text{
     margin: 0;
     padding: 0;
}

.footer-text p{
     width: 230px;
     font-family: "Rubik" , "Arial", sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 19px;
     color: #fff;
     margin: 0;
     padding: 0;
}


.footer-list {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
.footer-list li{
     margin: 0;
     padding: 0;
}

.footer-list-link a{
     font-family: "Rubik" , "Arial", sans-serif;
     margin: 0;
     padding: 0;
     color: #fff;
     text-decoration: none;
     font-size: 16px;
     line-height: 19px;
     font-weight: 500;
}

.footer-list li:not(:last-child){
     margin-bottom: 20px;
}

.footer-list-link a{
     margin: 0;
     padding: 0;
}

.footer-links-right{
     padding: 0;
     margin: 0;
}
.footer-line{
     background: #CECECE;
     width: 998px;
     height: 1px;
}

/* Footer bottom  */
.footer-buttom{
     margin-top: 20px;
     margin-bottom: 40px;
     display: flex;
     justify-content: space-between;
}
.footer-buttom-left{
     width: 161px;

}
.footer-buttom-left a{
     display: contents;
     font-weight: 500;
     font-size: 18px;
     line-height: 23px;
     color: #fff;
     text-decoration: none;
}
.footer-list a{
     margin: 0;
     padding: 0;
     text-decoration: none;
}

.footer-list:not(:last-child){
     margin-right: 25px;
}
.footer-ul{

     margin: 0;
     padding: 0;
     display: flex;
}
