/* GLOBAL  */
*{
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
}

body{
     padding: 0;
     margin: 0;
     font-family: "Rubik" , "Arial", sans-serif;
     font-size: 16px;
     line-height: 22px;
     color: #4A4B4C;
     background-color: #fff;
}


/* CONTAINER  */
.container{
     display: flex;
     justify-content: space-between;
     width: 100%;
     max-width: 1260px;
     padding-left: 30px;
     padding-right: 30px;
     margin-left: auto;
     margin-right: auto;
}

/* SITE_HEADER  */
.site-header-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #f6f6f6;

}

.left-header{
     display: flex;
     align-items: center;
     font-size: 24px;
}

.logo-text {
     text-decoration: none;
     color: #7296ee;
     background-color: #fff;
     border-radius: 7px;
     margin-top: 30px;
     margin-bottom: 30px;
     padding: 0;
}

/* .logo-text image{
     font-size: 24px;
     font-weight: 700;
     line-height: 28.5px;
     padding: 9px 6px 8px 6px;
     margin: 0;
} */

.currency{
     display: flex;
     font-size: 16px;
     margin-left: 35px;
}
.currency-wrapper:first-child {
     margin-right: 25px;
}

.currency p span{
     font-weight: bold;
     color: #2959CE;
}

.right-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.right-header:not(:last-child) {
     padding-right: 25px;

}

.search-text{
     width: 275px;
     box-sizing: border-box;
     border: 0px solid #fff;
     border-radius: 60px;
     font-size: 14px;
     background-color: white;
     padding: 12px 20px 12px 40px;
     background-image: url('/photos/search.svg');
     background-repeat: no-repeat;
     background-position: 10px 10px;
     margin-top: 30px;
     margin-bottom: 30px;
     margin-right: 25px;
}

/* Language switch bottom  */
.switch{
     padding-right: 25px;
}
.switch-language{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 70px;
     list-style: none;
     background-color: #dce6ff;
     border-radius: 40px;
     padding: 0;
     height: 36px;
}

.switch-language a{
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
}
.language-uz{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #fff;
     margin: 3px;


}

.language-uz a{
     width: 30px;
     height: 30px;
     font-size: 13px;
     color: #000;
     padding-right: 8px;
}

.language-ru, a{
     color: #A6A6A6;
     font-size: 13px;
     padding-right: 13px;
     padding-top: 10px;
     padding-bottom: 10px;
}

.btn a{
     font-size: 16px;
     line-height: 19px;
     padding: 13px 20px;
     margin-top: 30px;
     margin-bottom: 30px;
     background-color: #7296EC;
     color: #fff;
     text-decoration: none;
     border-radius: 10px;

}

/* Site nav  */
.site-nav{
     background-color: #fff;
     margin-top: 30px;
}
.container-nav{
     align-items: center;
     display: flex;
     background-color: #fff;
     margin-top: 30px;

}
.sitenav-list{
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     padding: 0;
     margin: 0;
     padding-bottom: 20px;
     border-bottom: 1px solid #d1d1d1;
}


.sitenav-item:not(:last-child) {
     margin-right: 34.44px;
}

.sitenav-link{
     color: #7f7f7f;
     text-decoration: none;
     font-weight: 500;
     font-size: 18px;
     line-height: 1px;
}